<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>TITLE</title>
  <link rel="stylesheet" href="/css/style.css">
 </head>
 <body>
   <div class="Headings">
     <h1>WELCOME TO THIS SITE (Header 1)</h1>
     <h2>Header 2</h2>
     <h3>Header 3</h3>
   </div>
   <div class="Questions">
     <h3>Are you into apps or web?</h3>
       <div class="Option_1">
         <form action="">
          <input type="checkbox" name="platform" value="Apps">Apps
          <input type="checkbox" name="platform" value="Web">Web<br> 
         </form>
       </div>
     <h3>Do you prefer simple or complex?</h3>
     <div class="Option_2">
         <form action="">
          <input type="checkbox" name="difficulty" value="Simple">Simple
          <input type="checkbox" name="difficulty" value="Complex">Complex<br> 
         </form>
       </div>
     <h3>Are you into visual or behind?</h3>
     <div class="Option_3">
         <form action="">
          <input type="checkbox" name="position" value="Visual">Visual
          <input type="checkbox" name="position" value="Behind">Behind<br> 
         </form>
       </div>
     <h3>Do you like to theorize or practicality?</h3>
     <div class="Option_4">
         <form action="">
          <input type="checkbox" name="type" value="Theory">Theory
          <input type="checkbox" name="type" value="Practice">Practice<br> 
         </form>
       </div>
     <h3>Do prefer hacking or creating?</h3>
     <div class="Option_5">
         <form action="">
          <input type="checkbox" name="method" value="Hacking">Hacking
          <input type="checkbox" name="method" value="Creating">Creating<br> 
         </form>
       </div>
   </div>
 </body>
</html>